@font-face{ 
  font-family: 'overlock';
  src: 
   url('/static/main/fonts/overlock-regular.woff') format('woff'),
   url('/static/main/fonts/overlock-regular.otf') format('opentype'),
}
/* native tags -------------------------------------------------------------- */

body{
  font-family: overlock;
  text-transform: uppercase;
  background-color: #171717;
  background-image: url('/static/main/stressed_linen.png');
  overflow-y: scroll;
}

a{
  outline: none;
}

nav{
  padding-right: 0 !important;
}

/* main styles -------------------------------------------------------------- */

.row{
  margin: 0;
}

.text-shadow{
  text-shadow: 1px 1px 2px #000
}

.box-shadow{
  -webkit-box-shadow: 0px 0px 15px 7px black;
  -moz-box-shadow: 0px 0px 15px 7px black;
  box-shadow: 0px 0px 15px 7px black;
}

.section_item>a {
    display: inline-block;
    position: relative;
}

.caption {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  color: #f90;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

a:hover .caption {
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}​

#brand_img{
  height: 45px;
  width: auto;
}

.img-thumbnail-container{
  height: 250px;
  width: auto;
}

.img-thumbnail{
  height: 100%;
  width: auto;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.tag{
  text-shadow: 1px 1px 2px #272822;
  color: white;
  background-color: #272822;
  margin: 1px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

/* feather styles ----------------------------------------------------------- */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar-feathericon{
  height: 1.8rem;
  width: 1.8rem;
}

.manifest-feathericon {
  width: 2rem; 
  height: 2rem; 
  stroke: #27717d; 
  stroke-width: 2; 
  stroke-linecap: round; 
  stroke-linejoin: round; 
  transition: all 1s;
  transform-origin: 50% 50%;
}

.manifest-feathericon:hover{
  transform: scale(1.2);
}

/* forms -------------------------------------------------------------------- */

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

form{
  margin-top: 71px;
  background: #fff;
  display: block;
  width: 100%;
  margin: 0 auto;
}

select{
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input{
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

textarea{
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label{
  font-weight: bold;
  font-size: 120%;
}