<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/static/main/logo_snv2_64.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav d-flex justify-content-around">
                <li class="nav-item">

                    <a class="nav-link" href="/"><h4>Sons</h4></a>

                </li>
                <li class="nav-item">
                    
                    <a class="nav-link" href="/tags"><h4>Playlists</h4></a>
                    
                </li>
                <li class="nav-item">
                    
                    <a class="nav-link" href="/playlist/shuffle"><h4>Shuffle20</h4></a>
                    
                </li>
                <li class="nav-item">
                    
                    <a class="nav-link" href="/clips"><h4>Clips</h4></a>
                    
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item">
                    
                    <a class="nav-link" href="/upload"><h4>Upload</h4></a>
                    
                </li>
                <li class="nav-item">
                    
                    <a class="nav-link" href="/admin"><h4>Admin</h4></a>
                    
                </li>
                {% endif %}

            </ul>

        </div>

    </div>

</nav>