{% extends 'main/base.html' %}

{% block content %}

<h1 style="color:white;">Merci !</h1>
<div class="container-fluid col-md-8 w_bg">
    <style>
        input,select{
            display: block;
            margin: 0 auto;
            width: 80%;
        }
        .w_bg{
          background-image: url('/static/forum/seamless.png');
          border-radius: 4px;
          border: solid 1px #ccc;
          padding: 1rem;
        }
    </style>
    <p>
        Votre inscription à la newsletter est bien prise en compte. Si jamais vous voulez vous désinscrire, il suffira de répondre à l'un de nos mails pour dire stop. Je ne garde pas les adresse e-mail après désinscription, ça ne me sert à rien :)
    </p>
    <p>
      Si vous avez coché la case d'inscription au forum, vous pourrez bénéficier de votre compte dans les 48 heures à partir de maintenant. Vous recevrez un mail vous donnant tous les détails pour finaliser l'inscription :)
    </p>
    <h2><a style="color: black;" href="/">Retourner à l'accueil</a></h2>

</div>

{% endblock %}