{% extends 'main/base.html' %}

{% block content %}
<div class="container bg-light pb-3">
    <style>
        input,select{
            display: block;
            margin: 0 auto;
            width: 80%;
        }
    </style>

    <h1>
        Nouveau son
    </h1>

    <form action="/uploadforbe" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ upload_son_form_for_be.as_p }}
        <input  type="submit" value="Envoyer" />

    </form>

</div>
{% endblock %}