{% extends 'main/base.html' %}

{% block content %}
<div class="container bg-light pb-3">
    <style>
        input,select{
            display: block;
            margin: 0 auto;
            width: 80%;
        }
    </style>

    <h1>
        Nouveau son
    </h1>
    <p class="alert alert-info">Après avoir envoyé le formulaire, ça va ramer un peu le temps que le mp3 soit téléchargé sur le serveur. C'est donc normal que ça prenne quelques secondes.</p>

    <form action="/upload" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ upload_son_form.as_p }}
        <input  type="submit" value="Envoyer" />

    </form>

</div>
{% endblock %}